service: cx-content-moderation

runtime: go119

manual_scaling:
  instances: 1
resources:
  cpu: 1
  memory_gb: 0.5
  disk_size_gb: 10

# service name, alternative to "default"
# service: cx-perspective

env_variables:
  # logname, defaults to "cx-content-moderation"
  # LOGNAME: 'x-content-moderation'

  # Project ID, optional, defaults to GOOGLE_CLOUD_PROJECT
  # PROJECT_ID: 'YOUR_GOOGLE_CLOUD_PROJECT_HERE'

  # Content Moderation Processor Display Name
  # in the form of projects/PROJECT_ID/locations/LOCATION/processors/PROCESSOR_ID
  # CONTENT_MODERATION_NAME: 'DOCUMENT_AI_PROCESSOR_DISPLAY_NAME'


