proto-plus
google-api-core
google-api-core[grpc,grpcgcp]
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
grpcio
grpc-google-iam-v1
google-resumable-media
google-cloud
google-cloud-core
google-cloud-storage
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-documentai
wget
pandas
numpy