# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

# @matthewayne is the default owner for PDF splitter sample changes
/pdf-splitter-python/ @holtskinner
/web-app-demo/ @galz10
/extract-languages @holtskinner
/extract-tables @holtskinner
/filter-hitl-language @holtskinner
/fraud-detection-python @holtskinner
/tax-processing-pipeline-python @holtskinner
/bq-connector @mservidio
/sql-pdf-python @dojowahi
/document_ai_warehouse_processing_python @HSbedi87
/document-json-explorer @kolban-google

# Community owners
/community/identity-form-autofiller-python @PicardParis
/community/codelabs/docai-form-parser @holtskinner
/community/codelabs/docai-ocr @holtskinner
/community/codelabs/docai-specialized-processors @holtskinner
/community/expense-parser-python @jiya-zhang
