# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/bq-connector @mservidio
/sql-pdf-python @dojowahi
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87
/document-json-explorer @kolban-google
/web-app-pix2info-python @PicardParis @holtskinner
/document-processing-workflows @ffeldhaus

# Community owners
/community/identity-form-autofiller-python @PicardParis
/community/expense-parser-python @jiya-zhang

# Auto-Approve
*/requirements.txt @yoshi-approver
*/requirements-test.txt @yoshi-approver
*/package.json @yoshi-approver
*/pom.xml @yoshi-approver
