# https://pypi.org/project/google-cloud-documentai
google-cloud-documentai==3.0.0

# https://pypi.org/project/google-auth
google-auth==2.36.0

# https://pypi.org/project/Pillow
Pillow==10.3.0

# https://pypi.org/project/flask
Flask==3.0.3

# https://pypi.org/project/gunicorn
gunicorn==23.0.0
