# https://pypi.org/project/google-cloud-documentai
google-cloud-documentai==2.6.0

# https://pypi.org/project/google-auth
google-auth==2.15.0

# https://pypi.org/project/Pillow
Pillow==9.4.0

# https://pypi.org/project/flask
Flask==2.2.2

# https://pypi.org/project/gunicorn
gunicorn==20.1.0
