<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <title>Generative AI App Builder - Enterprise Search Demo</title>
</head>

<body>
    <section class="header">
        <a href="/">
            <img class="gen-app-builder-logo" src="{{url_for('static', filename='gen-app-builder-logo.svg')}}"
                alt="Generative AI App Builder" />
        </a>
        <h1>Generative AI App Builder - Enterprise Search Demo</h1>
    </section>
    <main>
        <!-- Search widget script bundle -->
        <script src="https://gen-ai-app-builder.appspot.com/preview/client"></script>

        <!-- Search widget element is not visible by default -->
        <gen-search-widget
            widgetConfigName="projects/PROJECT_ID/locations/global/collections/default_collection/dataStores/SEARCH_ENGINE_ID/widgetConfigs/default_search_widget_config"
            apiKey="API_KEY" triggerId="searchWidgetTrigger">
        </gen-search-widget>

        <!-- Element that opens the widget on click. It does not have to be an input -->
        <input placeholder="Search here" id="searchWidgetTrigger" />
    </main>
    <section class="footer">
        <p>Made by <a href="https://github.com/holtskinner">holtskinner@</a> - Source on <a
                href="https://github.com/GoogleCloudPlatform/document-ai-samples">GitHub</a>
        </p>
    </section>
</body>

</html>
