google-cloud-storage==2.17.0
google-cloud-logging==3.8.0
google-cloud-documentai==3.0.0
pypdf2==3.0.1
pikepdf==8.15.1
google-cloud-run==0.10.7
google-cloud-bigquery==3.40.0
google-cloud-documentai-toolbox==0.13.5a0
