# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

# @matthewayne is the default owner for PDF annotator sample changes
/pdf-annotator-python/ @matthewayne

# @jiya-zhang is the default owner for the Expense Parser sample changes
/expense-parser-python/ @jiya-zhang

# @PicardParis is the default owner for the Identity Form Autofiller sample changes
/identity-form-autofiller-python/ @PicardParis
