# https://pypi.org/project/google-cloud-documentai
google-cloud-documentai==2.15.0

# https://pypi.org/project/google-cloud-logging
google-cloud-logging==3.5.0

# https://pypi.org/project/google-auth
google-auth==2.28.1

# https://pypi.org/project/Pillow
Pillow==10.3.0

# https://pypi.org/project/flask
Flask==3.0.2

# https://pypi.org/project/gunicorn
gunicorn==21.0.1
